.bbla-title a.lefth1cur,
.bbla-title a:hover,
#right .bbla-title a,
#right p, #right p#tab a.thea,
.inpocdiv h6 span,
.bbla-title a,
#music p b,
#shine dl dt a,
#local .inlocal .localtitle h2,
#pocbtn p a:hover,
#pocbtn p a.curpocbtn,
#pocbtn .inpocbtn p span,
.lanbtn ul li a.cur{ color:#499FC5;}

#search #sbmain #sbse,
#search #sbmclass ul li a.cur,
#pocbtn .inpocbtn p a.cur,
#anniu ul li{ background-color:#79C5E6; border:1px solid #2080A9;}
#anniu ul li.jia div{ border:1px solid #2080A9;}
	
.inpocdiv h6 a.curpocket{ background:#619AA9; box-shadow:0 0 5px #45737E inset; text-shadow:1px 1px 2px #45737E;}

#search #sbmclass ul li a.cur{ border-bottom:none;}
#search .sbsetext{ border:1px solid #2080A9;}
.oneborder{border:1px solid #79C5E6;}
.twoborder{border:1px solid #2080A9;}
.twoline.tlstyle{ border-color:#2080A9; background:#79C5E6;}
body{ background:#fff url(images/c15.jpg) no-repeat center -24px;}
#ly #tab,
#ly #tab b{ border-color:#2080A9; background:#79C5E6;}
#ly #tab b a{ color:#000000;}
.bbla-banner{ border-bottom:1px solid #B9CCD5;}
#pocbtn p a:hover, #pocbtn p a.curpocbtn{ background:#79C5E6; border-color:#2080A9;}
#inshine li a{ color:#fff;}