.bbla-title a.lefth1cur,
.bbla-title a:hover,
#right .bbla-title a,
#right p, #right p#tab a.thea,
.inpocdiv h6 span,
.bbla-title a,
#music p b,
#shine dl dt a,
#local .inlocal .localtitle h2,
#pocbtn p a:hover,
#pocbtn p a.curpocbtn,
#pocbtn .inpocbtn p span,
.lanbtn ul li a.cur{ color:#3F898F;}

#search #sbmain #sbse,
#search #sbmclass ul li a.cur,
#pocbtn .inpocbtn p a.cur,
#anniu ul li{ background-color:#A8CBD9; border:1px solid #5C93AD;}
#anniu ul li.jia div{ border:1px solid #5C93AD;}

.inpocdiv h6 a.curpocket{ background:#619AA9; box-shadow:0 0 5px #45737E inset; text-shadow:1px 1px 2px #45737E;}

#search #sbmclass ul li a.cur{ border-bottom:none;}
#search .sbsetext{ border:1px solid #5C93AD;}
.oneborder{border:1px solid #A8CBD9;}
.twoborder{border:1px solid #5C93AD;}
.oneborder.aoyun1{border:1px solid #F9BBBC;}
.twoborder.aoyun2{border:1px solid #DB757C;}
.twoline.tlstyle{ border-color:#DB757C; background:#F9BBBC;}
body{ background:#fff url(images/c16.jpg) no-repeat center top;}
#ly #tab,
#ly #tab b{ border-color:#5C93AD; background:#A8CBD9;}
#ly #tab b a{ color:#29505F;}
.bbla-banner{ border-bottom:1px solid #AFC5CF;}
#pocbtn p a:hover, #pocbtn p a.curpocbtn{ background:#A8CBD9; border-color:#5C93AD;}