.bbla-title a.lefth1cur, .bbla-title a:hover, #right .bbla-title a, #right p, #right p#tab a.thea, .inpocdiv h6 span, .bbla-title a, #music p b, #shine dl dt a, #local .inlocal .localtitle h2{ color:#C87922;}
.bbla-title a{ text-shadow:1px 1px 0 #fff;}
#ly .bbla-title a{ text-shadow:1px 1px 0 #FDF9F0;}

#search #sbmain #sbse,
#search #sbmclass ul li a.cur,
#anniu ul li a{ background-color:#DF9443; border:1px solid #875330;}

#search #sbmclass ul li a.cur{ border-bottom:none; text-shadow:1px 1px 0 #875330; font-weight:bold; color:#fff;}
#search .sbsetext{ border:1px solid #875330;}

#ly #tab,
#ly #tab b{ border-color:#875330; background:#DF9443; box-shadow:1px 1px 3px #E1B540;}
#ly #tab b a{ color:#875330;}
#ly #tab b a:hover{ color:#fff; text-shadow:1px 1px 0 #B6880E;}

#pocbtn p a{ box-shadow:0 0 0 #000;}

.oneborder{border:1px solid #DF9443;}
.twoborder{border:1px solid #875330;}
.aoyun1.oneborder{border:1px solid #647344;}
.aoyun2.twoborder{border:1px solid #475331;}

.twoline{ visibility:hidden;}

body{background:#fff url(images/c22.jpg) no-repeat center 0 fixed;}
.bbla-banner{ border-bottom:1px solid #875330;}
#pocbtn p a:hover, #pocbtn p a.curpocbtn{ background:#DF9443; border-color:#875330;}
#left,#right{ box-shadow:1px 3px 6px #53522F;}
#banner,#left,#right{ opacity:0.9;}
#flink, #bottom{ background:none;}

.apps ul li a{ opacity:0.9;}

#temp ul li a,
#local .inlocal .province ul li a,
#flink .inflink span a,
#bottom p a,
#flink .bbla-title a,
.inpocdiv h6 a.curpocket,
.inpocdiv ul li a{ color:#fff; text-shadow:1px 1px 0 #000;}
.province ul li a span{ text-shadow:none; box-shadow:0 0 0 #000; border-color:#424C4D;}

#flink span a:hover,
#adver p a:hover,
#temp ul li a:hover,
.inpocdiv ul li a:hover,
#bottom p a:hover{text-decoration:underline;color:#fff}


